<h1 [ngClass]="hide? 'title': ''">Employee</h1>
<div [hidden]="hide">
  {{name}}
</div>
<!-- <div [innerText]="name">

</div> -->

<div *ngIf="hide">
  {{name}}
</div>

<button (click)="toggle()">Toggle</button>

<h2>
  Employee Details
</h2>
<div>{{employee.id}}</div>
<div>{{employee.name}}</div>
<div>{{employee.email}}</div>
<div>{{employee.dob}}</div>

{{empList}}
<table class="table" *ngIf="empList">
  <thead>
    <tr>
      <th>Index</th>
      <th>Even</th>
      <th>Odd</th>
      <th>Id</th>
      <th>Name</th>
      <th>Email</th>
      <th>DOB</th>
      <th>Salary</th>
    </tr>
  </thead>
  <tbody>
    <tr [ngClass]="e? 'even': 'odd'"
      *ngFor="let emp of empList; let i=index;  let e=even ; let o=odd; trackBy: trackByFn">
      <td>{{i | percent}}</td>
      <td>{{e}}</td>
      <td>{{o}}</td>
      <td>{{emp.id}}</td>
      <td>{{emp.name | uppercase}}</td>
      <td>{{emp.email | lowercase}}</td>
      <td>{{emp.dob | date: 'dd-MMM-yyy' }}</td>
      <td>{{emp.salary | currency: 'INR' }}</td>
    </tr>
  </tbody>
</table>

<app-employee-onboarding fragment="employee"></app-employee-onboarding>
