<h1>{{title}}</h1>
<table class="table" *ngIf="prodList">
  <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Price</th>
      <th>Mfd</th>
      <th>Select</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let product of prodList">
      <td>{{product.id}}</td>
      <td>{{product.name}}</td>
      <td>{{product.price}}</td>
      <td>{{product.mfd}}</td>
      <td><button class="btn btn-primary" (click)="sendToParent(product)">Select</button></td>
    </tr>
  </tbody>
</table>
