<app-navbar></app-navbar>
<lib-dnt215-core></lib-dnt215-core>
<!-- <app-employee>
</app-employee>
<app-product></app-product> -->

<!-- <button class="btn btn-success" (click)="addProduct()">
  Add Product
</button>
<app-todo></app-todo> -->
<!-- <app-product></app-product>
<app-employee>
</app-employee> -->
<!-- <app-container>
  <h1>
    This is content Projection.
  </h1>
  <app-employee>
  </app-employee>
  <app-product></app-product>
</app-container> -->

<!-- <div [ngSwitch]="role">
  <div *ngSwitchCase="'Admin'">
    <app-employee></app-employee>
  </div>
  <div *ngSwitchCase="'user'">
    This is user view.
  </div>
  <div *ngSwitchDefault>
    This is default view!
  </div>

</div> -->
