<app-header></app-header>
<app-header></app-header>
<app-header></app-header>

{{title}}

<!-- templateRef -->
<div #nameDiv>

</div>

{{productList$ | async | json}}

<button class="btn btn-primary" (click)="addProduct()">
  Add Product
</button>
<app-product-list [prodList]="productList" [title]="'User Orders'"
(selectedProduct)="receiveProduct($event)">
</app-product-list>

<h2>
  Selected Product
</h2>
<ng-container *ngIf="selectedProduct">
  {{selectedProduct?.id}}
  {{selectedProduct?.name}}
  {{selectedProduct?.price}}
</ng-container>
