{{search.invalid}}
{{search.value}}
{{search.valid}}
{{search.pristine}}

<input class="form-control" [formControl]="search" placeholder="Enter Search Input">

<mat-divider></mat-divider>
<h1>
  Employee Onboarding Form
</h1>
<mat-divider></mat-divider>
{{onbardingForm.pristine |json}}
{{onbardingForm.dirty |json}}
{{onbardingForm.value |json}}
{{onbardingForm.errors |json}}

<form [formGroup]="onbardingForm" (ngSubmit)="addEmployee()">
  <mat-form-field *ngIf="onbardingForm.get('testControl')">
    <input matInput formControlName="testControl" placeholder="Test Control">
  </mat-form-field>
  <mat-form-field>
    <input matInput formControlName="password" placeholder="Password">
  </mat-form-field>
  <mat-form-field>
    <input matInput formControlName="confirmPassword" placeholder="Confirm Password">
  </mat-form-field>
  <mat-form-field>
    <input matInput formControlName="name" placeholder="Name">
  </mat-form-field>
  <mat-form-field>
    <input matInput formControlName="email" placeholder="Email">
    <!-- <div *ngIf="onbardingForm.get('email').hasError('required')">
      Please enter your email!
    </div> -->
    <mat-error *ngIf="onbardingForm.get('email').hasError('required')">Please enter your email!</mat-error>
    {{onbardingForm.get('email')?.errors | json}}
    <div *ngIf="onbardingForm.get('email').hasError('email')">
      Please enter a valid email!
    </div>
  </mat-form-field>
  <mat-form-field>
    <input matInput formControlName="mobileNo" placeholder="Mobile Number">
  </mat-form-field>
  <div formGroupName="address">
    <mat-form-field>
      <input matInput formControlName="addr1" placeholder="Address Line 1">
    </mat-form-field>
    <mat-form-field>
      <input matInput formControlName="addr2" placeholder="Address Line 2">
    </mat-form-field>
    <mat-form-field>
      <input matInput formControlName="city" placeholder="City">
    </mat-form-field>
    <mat-form-field>
      <input matInput formControlName="pin" placeholder="Pin">
      {{onbardingForm.get('address.pin')?.errors | json}}
    </mat-form-field>
  </div>
  <button mat-raised-button color="primary" (click)="addExp()">Add Experience</button>
  <div formArrayName="pastExp">
    <div *ngFor="let exp of pastExp.controls;let i=index">
      <div [formGroupName]="i">
        <mat-form-field>
          <input matInput formControlName="orgName" placeholder="Org Name">
        </mat-form-field>
        <mat-form-field>
          <input matInput formControlName="fromDate" placeholder="From Date">
        </mat-form-field>
        <mat-form-field>
          <input matInput formControlName="toDate" placeholder="To Date">
        </mat-form-field>
        <mat-form-field>
          <input matInput formControlName="designation" placeholder="Designation">
        </mat-form-field>
      </div>
      <button mat-raised-button color="warn" (click)="removeControl(i)">Remove Experience</button>
    </div>
  </div>
  <div>
    <button mat-raised-button color="primary" (click)="AddControl()">Add New Control</button>
    <button mat-raised-button color="primary" (click)="clearAll()">Clear All</button>
    <button [disabled]="onbardingForm.invalid" type="submit" mat-raised-button color="primary">Add Employee</button>
  </div>
<div>
  <button mat-raised-button color="primary" (click)="resetForm()">Reset</button>
</div>
</form>
